.App {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fishImage {
  text-align: center;
}
.fishImage h3 {
  font-size: 20px;
}

.fishComp {
  overflow-wrap: break-word;
  width: 500px;
  display: flex;
  text-overflow: ellipsis;
  height: 160px;
  width: 400px;
  border-bottom: solid 0.5px rgb(105, 102, 102);
}

.order-enter {
  background-color: rgb(7, 47, 107);
  transition: 0.5s;
  transform: translate(-120%);
  max-height: 0;
  padding: 0 !important;
}

.order-enter-active {
  background-color: rgb(97, 211, 186);
  max-height: 60px;
  transform: translate(0);
}

.order-leave {
  transition: 0.5s;
  transform: translate(0);
}

.order-leave-active {
  transform: translate(120%);
  max-height: 0px;
  padding: 0px;
}

.count-enter {
  transition: all 2.5s;
  transform: translateY(100%);
}

.count-enter-active {
  transform: translateY(0);
}

.count-leave {
  transition: all 2.5s;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(0);
}

.count-leave-active {
  transform: translateY(-100%);
}

.storepicker {
  text-align: center;
  height: 100vh;
  width: auto;
  text-align: center;
  background-image: url(C:/Users/tejas/Desktop/Fish.jpg);
  background-size: cover;
}

.mystore {
  border-radius: 5px;
  margin-top: 100px;
  display: inline-block;
  text-align: center;
  height: 500px;
  width: 400px;
  opacity: 80%;
  background-color: rgb(19, 22, 22);
}

/* .myForm {
  margin-top: -100px;
} */

.visit {
  border-radius: 10px;
  font-size: large;
  padding: 20px 30px;
  border: none;
  position: relative;
  background-color: #525252;
  color: #c9c9c9;
  transition: ease-in-out 0.5s;
}

@font-face {
  font-family: Rowdies;
  src: url("C:/Users/tejas/Downloads/Rowdies-Light.ttf");
}

.visit:hover {
  background-color: #353535;
  color: #c2c2c2;
}

.title {
  color: #e6e6e6;
  font-family: Rowdies;
  padding: 30% 10%;
  font-size: 50px;
}

.fishDetails {
  padding-left: 10px;
}
.fishDetails button {
  border: none;
  padding: 5px 10px;
  border-radius: 5%;
}

.fishprice {
  display: flex;
}

.orders {
  height: 100vh;
  width: 400px;
  text-align: center;
  border-right: 1px solid;
}

.fishList {
  width: 500px;
  padding: 20px;
  border-right: 1px solid;
}

.inventory {
  width: 720px;
  overflow: auto;
  border-right: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
}

.addToInventory {
  display: inline-block;
  height: 230px;
  width: 300px;
  margin: 10px;
  overflow: auto;
}

.inputElems {
  width: 100%;
}
.addToInventory button {
  border: none;
  background-color: #9e9595;
  float: right;
}

.addFishForm {
  display: block;
}

.formItems input textarea select {
  width: 100%;
}
.samplesButton {
  margin-left: 100px;
  margin-top: 50px;
  border: 1px solid;
  background-color: #6bda8c;
  padding: 50px;
  border-radius: 5%;
}
.primary {
  background-color: #6bda8c;
  border: none;
  padding: 5px;
  border-radius: 2%;
}
