.App {
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.components {
  overflow-wrap: break-word;
  width: 400px;
  display: inline-block;
  overflow: auto;
  text-overflow: ellipsis;
  height: 600px;
  padding: 20px;
  margin: 10px;
  border: double 2px rgb(105, 102, 102);
}

.fishComp {
  overflow-wrap: break-word;
  width: 300px;
  display: inline-block;
  overflow: auto;
  text-overflow: ellipsis;
  height: 400px;
  padding: 20px;
  margin: 10px;
  border: double 2px rgb(105, 102, 102);
}

.inventory {
  border: solid 1px black;
  padding: 10px;
  margin-bottom: 25px;
}

.order-enter {
  background-color: red;
  transition: 0.5s;
  transform: translate(-120%);
  max-height: 0;
  padding: 0 !important;
}

.order-enter-active {
  background-color: yellow;
  max-height: 60px;
  transform: translate(0);
}

.order-leave {
  transition: 0.5s;
  transform: translate(0);
}

.order-leave-active {
  transform: translate(120%);
  max-height: 0px;
  padding: 0px;
}

.count-enter {
  transition: all 2.5s;
  transform: translateY(100%);
}

.count-enter-active {
  transform: translateY(0);
}

.count-leave {
  transition: all 2.5s;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(0);
}

.count-leave-active {
  transform: translateY(-100%);
}
